/* attributes */
.css .kw1 {
  color: #9d275f;
}
/* string values */
.css .st0,
.css .re4 {
  color: #8b1a1f;
}

/* hex colors */
.css .re0,
.css .re0 .nu0 {
  color: #8b1a1f;
}

/* known values */
.css .kw2 {
  color: #ae561d;
}

/* numbers (px etc) */
.css .nu0,
.css .re3 {
  color: #063ff4;
}

/* !important */
.css .kw3 {
  color: #ff221b;
}

/* comments */
.css .co1,
.css .co2,
.css .coMULTI {
  color: #267e3d; 
}

/* doctype */
.html .sc0 {
  color: #267e3d;   
}
/* keywords (echo, required, etc) */
.html .kw1 {
  color: #9d2760;
}
/* tags */
.html .sc2,
.html .kw2 {
  color: #9d2e8d;
}
/* attribute names */
.html .kw3 {
  color: #ac571d;
}
/* attribute values */
.html .st0 {
  color: #2437ad;
}
/* comments */
.html .co1,
.html .co2,
.html .coMULTI {
  color: #267e3d; 
}

/* function names */
.js .me1,
.js .kw3 {
  color: #004678;
}

/* predefined stuff (function, etc…) */
.js .kw1,
.js .kw2 {
  color: #9d2760;
}
/* strings */
.js .st0 {
  color: #8b1a1f;
}
/* number */
.js .nu0 {
  color: #063ff4;
}
/* false | true */
.js .kw4 {
  color: #063ff4;
}

.php {
  color: #004678;
}

/* keywords (echo, required, etc) */
.php .kw1 {
  color: #9d2760;
}
.php .kw2 {
  color: #9d2760;
}
/* predefined functions */
.php .kw3 {
  color: #7c3ab0;
}

/* <?php, ?>, etc */
.php .kw4 {
  color: #e22013; 
}

/* = */
.php .kw5 {
  color: #000;
}

/* comments */
.php .co1,
.php .co2,
.php .coMULTI {
  color: #267e3d; 
}

/* brackets */
.php .br0 {
  color: #000;
}

/* strings */
.php .st0 {
  color: #f28630 !important;
}

/* numbers */
.php .nu0 {
  color: #063ff4;
}

/* functions */
.php .me1 {
  color: #004678;
}

/* variables */
.php .re0 {
  color: #926821;
}
