/* Fonts
-------------------------------------------------- */

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-regular-webfont.eot');
  src: url('../fonts/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/firasans-regular-webfont.woff') format('woff'),
       url('../fonts/firasans-regular-webfont.ttf') format('truetype'),
       url('../fonts/firasans-regular-webfont.svg#fira_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-bold-webfont.eot');
  src: url('../fonts/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/firasans-bold-webfont.woff') format('woff'),
       url('../fonts/firasans-bold-webfont.ttf') format('truetype'),
       url('../fonts/firasans-bold-webfont.svg#fira_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font: 16px/1.6 "Fira Sans", Helvetica, Arial, sans-serif;
  color: hsl(207,7%,29%);
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1;
  margin-bottom: 16px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.8em;
}
h2 a {
  color: inherit;
}

h3 {
  margin-top: 0;
  font-size: 1.375em;
}

h4 {
  font-size: 1.0625em;
  line-height: 1.4;
  margin-bottom: 0;
}


/**
 * Links
 */

a {
  color: hsl(200, 87%, 45%);
  text-decoration: none;
}
a:hover,
a.active {
  color: #919497;
}


/**
 * Typo Misc
 */

.imprint h2 + p em,
h2 + p em,
.subtitle {
  font-size: 1.25em;
  color: #919497;
  font-style: normal;
  display: block;
}

.imprint h2 + p em,
h2 + .subtitle,
h2 + p em {
  margin: -11px 0 15px;
}

main .subtitle {
  font-size: 24px;
}

.label,
.post-author,
.subnav a {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.label.label--headline {
  display: block;
  margin: 23px 0 21px;
}

hr {
  border: none;
  border-top: 2px solid #f1f1f2;
  margin: 2.5em 0;
}


/**
 * Header
 */

header .logo {
  margin-top: 1.5em;
  float: left;
}

header nav {
  float: right;
  padding: 2em 0;
  height: 100px;
  box-sizing: border-box;
}

header nav a {
  line-height: 27px;
}
header nav a:not(:last-child) {
  margin-right: 20px;
}

nav a {
  font-size: 14px;
  padding: 2px 0 0;
  margin: 0 1em;
  border-bottom: 2px solid transparent;
  display: inline-block; 
}

nav a.active, 
nav a:hover {
  border-color: currentColor; 
}

.browserupdate {
  background: red;
  color: white;
  max-width: 500px;
  margin: 0 auto 2em;
  padding: 1em 1.5em;
  border-radius: 3px;
}

.browserupdate a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}


/**
 * Main
 */

main {
  max-width: 60em;
  margin: 0 auto;
  padding: 0;
}

.participate main,
.news main {
  max-width: 50em;
}

section {
  margin: 4em 0;
}

.wrapper {
  max-width: 1100px;
  padding: 0 3em;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  margin-bottom: 40px;
  padding: 30px 0 50px;
  text-align: center;
  border-bottom: 1px solid #dedddd;
}

.header h1 a {
  color: inherit;
}

.header.hasSubnav {
  padding-bottom: 0;
}

.header .subtitle {
  color: inherit;
}

.header .subtitle p {
  margin: 0;
}

.source {
  text-align: center;
  padding: 2em 0;
}

.source .btn {
  margin-top: 1em;
}

.subnav {
  margin-top: 40px;
  margin-bottom: 8px;
}

.subnav span {
  margin-right: 12px;
}

.subnav a {
  letter-spacing: 0;
  padding: 10px 13px;
  margin: 0;
  border: none;
}

.subnav .all-categories {
  color: #38ae6a;
}


/**
 * Hero
 */

.hero {
  background-color: #0e293e;
  background-size: cover;
  background-position: center bottom;
  padding-bottom: 200px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.hero .header {
  padding: 66px 0 56px;
  color: white;
  text-shadow: 0 1px 10px black;
  border: none;
  margin: 0;
}

.hero .hint {
  padding: 1.5em 0;
  color: rgba(255,255,255,.7);
  text-align: center;
}

.hint img {
  margin-right: 12px;
  margin-bottom: -4px;
}


/**
 * Downloads
 */

.downloads {
  padding: 40px 0;
  background: rgba(255,255,255,.93);
  border-radius: 5px;
  text-align: center;
}

.downloads h2 {
  font-size: 34px;
  margin-bottom: 0;
}

.downloads .subtitle {
  margin-top: 0;
}

.downloads .columns {
  margin-top: 40px;
}

.downloads .column {
  padding: 1em 3em;
}

.downloads .column:not(:last-child) {
  box-shadow: 1px 0 #b0b2b4;
}

.downloads .os {
  color: #444a4f;
  font-size: 2em;
  line-height: 1.5;
}

.downloads .version {
  color: #919497;
}

.downloads .btn {
  margin-top: 1.25em;
  display: block;
}

/**
 * Sections
 */

.sections h3 {
  margin: 10px 0 20px;
  line-height: inherit;
}

.sections em {
  font-size: 0.8em;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sections figure {
  margin-right: 3px;
  display: inline;
}

.sections figure img {
  vertical-align: middle;
}

.sections figure + p {
  display: inline;
}

.sections .column {
  padding: 3em 3em 3em 0;
}

.sections .column:last-child {
  padding: 3em 0 3em 3em;
}

/**
 * Figure
 */

figure {
  display: inline-block;
}

figure.left,
figure.right {
  width: 234px;
}

figure.left {
  margin: .33em 1.5em .33em 0;
}

figure.right {
  margin: .33em 0 .33em 1.5em;
}

figure.full {
  display: block;
}

figure.full img {
  width: 100%;
}

figure img {
  vertical-align: bottom;
  max-width: 100%;
}

figcaption {
  font-size: 0.875em;
  margin: 9px 0 0;
  color: hsl(210,3%,65%);
}


/**
 * Screenshots
 */

.screenshots main {
  max-width: 100%;
}

.screenshots figure {
  display: block;
  margin-bottom: 3em;
}

/**
 * News
 */

article {
  margin: 3em 0;
}

article + article {
  padding-top: 3em;
  border-top: 2px solid hsl(240,4%,95%);
}

article h2 {
  font-size: 2.2em;
  margin-bottom: 20px;
}

article h3 {
  margin-bottom: 0.5em;
}

article ol,
article ul,
article p,
main p {
  margin-bottom: 1em;
}

article pre[class*="language-"] {
  margin: 0 0 1.5em;
}

.post-author {
  margin-top: 20px;
}

.post-author .avatar {
  margin-right: 10px;
}

.author-name {
  font-weight: bold;
}

.post-meta {
  font-size: 0.875em;
  color: #919497; 
}

.pagination {
  padding-top: 2em;
  border-top: 1px solid #f2f2f3;
}

.pagination a {
  margin: 0;
}


/**
 * Documentation
 */

.wrapper--sidebar {
  display: -webkit-flex;
  display:         flex;
  -webkit-justify-content: center;
          justify-content: center;
}

.sidebar {
  float: left;
  min-width: 15em;
  -webkit-flex: 1;
          flex: 1;
}

.sidebar nav {
  padding: 3.5em 1em 8px 0;
}

.sidebar a {
  display: table;
  max-width: 220px;
  margin: 0.25em 0 0;
}

.sidebar .label ~ .label {
  margin-top: 1em;
}

pre {
  font-size: 14px;
}


/**
 * About
 */

.team .columns {
  margin: 0 -20px;
}

.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}

.member {
  text-align: center;
  padding: 20px;
}

.member .avatar {
  display: block;
  margin: 10px auto;
  width: 90px;
  height: 90px;
}

.member .name {
  margin: 12px 0 3px;
  color: hsl(194,90%,50%);
}

.member blockquote {
  margin: 15px 0;
}

/**
 * Imprint
 */

.imprint main {
  text-align: center;
}

.imprint main em {
  text-transform: uppercase;
  margin: 2em 0 1.5em;
  font-style: normal;
  font-size: 0.8125em;
  display: block;
  letter-spacing: 1px;
}

/**
 * Table
 */

table {
  margin-top: 2em;
  border-collapse: collapse;
}

td {
  padding: 15px;
  vertical-align: top;
  border: 1px solid hsl(210,4%,89%);
}

td:first-child {
  font-weight: bold;
  white-space: nowrap;
}

td:not(:first-child) {
  border-left-color: transparent;
}

td:not(:last-child) {
  border-right: none;
}


/**
 * Footer
 */

footer {
  border-top: 1px solid #dedddd;
  text-align: center;
  padding: 2em 0;
  margin-top: 2em;
}

footer a {
  text-decoration: none;
  font-size: 14px;
  padding: 2px 0 0;
  margin: 14px 0;
  border-bottom: 2px solid transparent;
  display: inline-block;
}
footer a:not(:last-child) {
  margin-right: 20px; 
}

footer a.active,
footer a:hover {
  color: #26272e;
  text-decoration: none;
  border-color: #595657; 
}


/**
 * Helpers
 */

.columns:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

/**
 * Columns
 */

.column {
  float: left;
  box-sizing: border-box;
}

.columns--flexible {
  display: table;
  width: 100%;
}

.columns--flexible .column {
  display: table-cell;
  float: none;
}

.columns--4 .column {
  width: 25%;
}

.columns--2 .column {
  width: 50%;
}

.columns--3 .column {
  width: 33.3333333%;
}

.columns--13 .column {
  width: 30%;
  padding-right: 1em;
}
.columns--13 .column:last-child {
  width: 70%;
  padding-left: 1em;
  padding-right: 0;
}

.columns--31 .column {
  width: 70%;
  padding-right: 1em;
}

.columns--31 .column:last-child {
  width: 30%;
  padding-left: 1em;
  padding-right: 0;
}

.columns--css {
  margin: 0 0 -1em;
  -webkit-columns: 2;
     -moz-columns: 2;
      -ms-columns: 2;
          columns: 2;
  -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
      -ms-column-gap: 4em;
          column-gap: 4em;
}


/**
 * Forms / Search
 */

.search-form {
  display: -webkit-flex;
  display:         flex;
}

fieldset {
  border: none;
}

form .field {
  margin-bottom: 2em;
}

.field input[type=search],
.field textarea {
  width: 100%;
}

.field input[type=text],
.field input[type=search],
.field textarea {
  border: 1px solid #dedddd;
  box-sizing: border-box;
  background: none;
  outline: none;
}

input[type=submit] {
  outline: none;
}

.field textarea {
  height: 300px;
  margin-bottom: 1em;
  padding: .7em 1em;
}

.field input:focus,
.field textarea:focus {
  border-color: hsl(200,88%,45%);
}

input[type=search] {
  -webkit-flex: 1;
          flex: 1;
}

input[type=search] + .btn {
  float: right;
  margin-left: .5em;
}

.search-message {
  font-size: 14px;
  color: gray;
}

.text {
  margin-bottom: 1.5em;
}

.reply-form .btn {
  margin-top: 4px;
}

.field + .buttons {
  margin-top: -1em;
}

.topic-form input[type=text] {
  width: 100%;
}


/**
 * Breadcrumb
 */

.breadcrumb {
  margin-bottom: 1em;
  min-height: 40px;
}

.breadcrumb-link {
  font-size: 1.25em;
  margin: 0 1.5em 0 0;
  position: relative;
}

.breadcrumb-link:last-child:after {
  display: none;
}

.breadcrumb-link:after {
  position: absolute;
  content: attr(data-separator);
  right: -1.25em;
  top: 2px;
  font-size: 1em;
  font-weight: normal;
  color: hsl(47,100%,59%);
}

.breadcrumb .btn {
  margin-right: 0;
  margin-top: 3px;
}


/**
 * Notification
 */

.notification {
  font-size: 0.875em;
  padding: 8px 1em 7px;
  margin: 0 0 2em;
  border-radius: 3px;
  background: #a8abae;
  color: white;
}


/**
 * User
 */

.user-avatar img {
  vertical-align: bottom;
  border-radius: 100%;
  width: 50px;
}


/**
 * Topic
 */

.topic {
  margin: 0;
}

.topic + .topic {
  padding-top: 0;
  border-top-width: 1px;
}

.reply-header,
.topic-header {
  position: relative;
  padding-top: 1em;
}

.topic-header {
  display: -webkit-flex;
  display:         flex;
  padding: 1em 10em 1em 4em;
  min-height: 50px;
}

.reply-header .user,
.topic-header .user {
  position: absolute;
  left: 0;
}

.topic-headline {
  margin: 0;
  line-height: 50px;
  -webkit-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display:         flex;
  float: left;
}

.topic-headline a {
  -webkit-flex: 1;
          flex: 1;
}

.topic-is-solved .topic-headline a {
  color: #919497;
}

.topic-meta,
.reply-meta {
  margin-top: 13px;
  right: 0;
  position: absolute;
}

.topic-date {
  float: left;
  margin-top: 3px;
  margin-right: 1em;
}

.date a {
  font-style: italic;
  color: #919497;
}

.topic-reply-counter {
  float: left;
}

.reply-user .user-username,
.topic-user .user-username {
  display: none;
}

.reply-form,
.reply-body,
.topic-body,
.reply,
.replies-header {
  padding: 2em 10em 2em 4em;
  border-top: 1px solid hsl(210,3%,95%);
}

.reply-body {
  padding-top: 1em;
  border: none;
}

.replies-header {
  border-top-width: 2px;
  padding-bottom: 1em;
}

.replies-header + .reply {
  border-top-width: 2px;
}

.options a {
  margin-left: 0;
}

.replies article {
  margin: 0;
  padding: 0;
}

.buttons .reply-help {
  float: left;
}

.buttons a + .reply-help {
  margin-left: 2em;
}

.buttons .btn + .btn {
  margin-left: 1em;
}

/**
 * languageArea
 */

.languageArea {
  position: relative;
  margin: 3em 0;
}

.languageArea:not(:last-child) {
  padding-bottom: 1em;
  border-bottom: 2px solid hsl(240,4%,95%);
}

/**
 * thread
 */

.thread {
  margin: 2em 0 1em;
}

.thread + .thread {
  padding-top: 2em;
  border-top: 2px solid hsl(240,4%,95%);
}

.thread h3 {
  margin-top: 0;
}

.thread .subtitle {
  font-size: 1em;
  margin-top: -.875em;
}

.thread .counter {
  position: relative;
  top: 1em;
}

/**
 * Buttons
 */

textarea,
input,
.btn {
  color: inherit;
  font-size: 14px;
  font-family: inherit;
  display: inline-block;
  height: 40px;
  border-radius: 3px;
  box-sizing: border-box;
  vertical-align: middle;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
}

input,
.btn {
  padding: 0 1em;
  line-height: 40px;
}

.btn {
  background: #3899d4;
  color: white;
  padding: 0 1.5em;
  border: none;
  cursor: pointer;
}

.btn:hover {
  border: none;
  color: white;
  background: hsl(203,64%,58%);
}

.btn--small {
  border: none;
  font-size: 13px;
  color: white;
  background: hsl(200,88%,45%);
  height: 28px;
  line-height: 29px;
  padding: 0 1em;
}

.btn--small:hover {
  color: white;
  background: hsl(200,88%,55%);
}

.btn--small.btn--muted {
  background: hsl(210,3%,67%);
}

.btn--small.btn--muted:hover {
  color: white;
  background: hsl(210,3%,77%);
}

.btn--primary,
.btn--success {
  color: white;
  line-height: 43px;
}

.btn--success {
  background: #38ab6a;
}
.btn--success:hover {
  background: hsl(146,51%,50%);
}

.error h1 {
  margin: 0 auto;
  color: #444a4f;
}

.error p {
  color: #8c959c;
  max-width: 400px;
  margin: 0 auto 50px;
}

.error .header {
  margin: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.error-image {
  height: 325px;
  width: 100%;
  margin: 30px 0;
  background-image: url(../images/error-2.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

li {
  margin-left: 20px;
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-line;
  word-break: break-all;
}
